.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color:hotpink;
    }
    
    .square {
        float: left;
        width: 160px;
        height: 100px;
        border: 3px solid #000;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: 48px;
        transition:transform 0.3s;
    }
    
    .board {
        display: table;
        clear: both;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
    } 
    #brain{
        width: 100px;
        height: 100px;
    }
    
    
    #box{
        display:flex;
        flex-wrap: wrap;
    margin-bottom: -2%;
    }
    
    .boxx{
        background-color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    .button{
        width:180px ;
        height:150px ;
        border: 2px solid black;
        background-color: white;
    }
      
    
  
    #fl{
            color: blueviolet;
        }
    
    #test{
        color:white;
        margin-right: 10%;
        margin-bottom: 2%;
    }
    .end{
    width: 400px;

       
        justify-content: space-between;
        margin-right: 4%;
    }
    
    #content{
        display: inline-block;
        justify-content: space-evenly;
        margin: 30px;
        color:hotpink;
        font-size: xx-large;
        
    }
.copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    background-color: #000;
    color: aliceblue;
    font-weight: bold;

   
}
#right{
    margin-top: 1%;
    margin-right: 2%;
}
#restart{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .square {
        float: left;
        width: 70px;
        height: 70px;
        border: 3px solid #000;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: 48px;
        transition:transform 0.3s;
    }
    
    .board {
        display: table;
        clear: both;
        margin: 5%;
    }
    
    .end{
        width: 140px;
        
    gap: 4%;
            justify-content: space-between;
            margin-right: 4%;
        }
        
        #content{
            display: flex;     
    justify-content: space-around;
    gap: 6%;
            color:rgb(194, 12, 103);
            font-size: large;
            
      
}
.head{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color:yellow
    }
    #brain{
        width: 80px;
        height: 90px;
        margin-bottom: 1%;
    }



#test{
    display: none;

}
#fl{
    color: rgb(226, 43, 177);
    margin-right: 3%;
}
.copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    background-color: #000;
    color: aliceblue;
    font-weight: bold;

   
}
#right{
    margin-top: 1%;
    margin-right: 2%;
}


}